<div>
  <h1 class="question-header">コンポーネント学習用</h1>
  <div class="explanation-block">
    <h2>■コンポーネントとは</h2>
    <p>アプリケーションを構成するパーツです。</p>
    <p>これらを組み合わせることによってアプリケーションが出来上がります。</p>
    <h3>概要</h3>
    <ul>
      <li>
        コンポーネントはtsファイル(処理を記述),
        htmlファイル(表示用テンプレート), css(見た目を装飾)により構成されます。
      </li>
      <li>cssではなく、scssを使用する場合もあります。</li>
    </ul>
    <h3>参考URL</h3>
    <div>
      <a href="https://angular.jp/guide/component-overview" target="_blank"
        >公式ドキュメント</a
      >
    </div>
  </div>
  <h2>設問.</h2>
  <div class="question-grid">
    <div class="question-headline">
      <p>Q.子コンポーネントを作成してください。</p>
      <ul>
        <li>HTMLテンプレートファイルを作成し、読み込むこと。</li>
        <li>scssファイルを作成し、読み込むこと。</li>
        <li>
          tsファイルでメソッドを実装し、コンポーネントに機能を持たせること。
        </li>
      </ul>
      <p>※子コンポーネントを実装し、何かしら表示できればOKです。</p>
    </div>
  </div>
</div>
