<div>
  <h1 class="question-header">無名関数学習用</h1>
  <div class="explanation-block">
    <h2>■無名関数とは</h2>
    <p>関数名がない関数の宣言方法です。</p>
    <h3>概要</h3>
    <p>
      スクリプト内に以下のような記述が出てきたら無名関数を使っているんだと思ってください。
    </p>
    <pre>const 変数名 = funciton()｛｝</pre>
    <pre>const 変数名 = () => ｛｝</pre>
    <h3>参考URL</h3>
    <div>
      <a
        href="https://typescriptbook.jp/reference/functions/function-expression"
        target="_blank"
        >関数式 (function expression)</a
      >
    </div>
    <div>
      <a
        href="https://zenn.dev/horitomo/articles/4fd98cf4156ccf"
        target="_blank"
        >JavaScriptの関数【関数宣言,アロー関数,無名関数,即時関数,コールバック関数,高階関数】</a
      >
    </div>
  </div>
  <h2>設問.</h2>
  <div class="question-grid">
    <div class="question-headline">
      <p>
        例題.
        無名関数を利用して、定義済みの変数exampleに任意の文字列を代入してください。
      </p>
      <p>※exampleFunc()を実装しています。</p>
    </div>
    <div class="answer-block">
      {{ example }}
    </div>
    <div class="question-headline">
      <p>Q1. 無名関数を利用して「999 * 12345」の結果を表示してください。</p>
      <p>※999を引数1、12345を引数2として実装してください。</p>
    </div>
    <div class="answer-block"></div>
  </div>
</div>
