/* Add application styles & imports to this file! */
.header-nav a {
  padding: 0px 5px 0px 5px;
}

.question-header {
  border: solid 1px brown;
}

.explanation-block {
  padding: 0%;
}

.explanation-block > h2 {
  background-color: lightskyblue;
}

.explanation-block > h3 {
  background-color: lightskyblue;
}

.question-grid {
  display: grid;
}

.question-headline {
  border: dotted skyblue;
  margin: 10px;
  padding: 5px;
}

.answer-block {
  border: solid 1px lightsalmon;
  margin: 10px;
  padding: 5px;
}
/** 標準テーブル */
.basic-table {
  text-align: center;
  border: solid 1px darkgray;
  padding: 5px;
}
